.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
tutorials/.DS_Store
tnxpersontime/.DS_Store
tnxpersontime/data/.DS_Store
tnxpersontime/test.py
tutorials/.ipynb_checkpoints/*
.DS_Store
tnxpersontime/dask_test.py
tnxpersontime/dask_test_script.py
